---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Screenshots from '../components/Screenshots.astro';
import Pricing from '../components/Pricing.astro';
import Features from '../components/Features.astro';
import Demo from '../components/Demo.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Pricing />
    <Testimonials />
    <Features />
  </main>
  <Footer />
</BaseLayout>
